.navbar-section {
  display: inline-block;
  flex: 1 1;
  cursor: default;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.navbar-text {
  text-align: center;
  color: #EDEDED;
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
}