.navbar-container {
  display: flex;
  align-items: center;
  height: 20vh;
  background-color: #1C1C1C;
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 30%;
}